@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@section Body{
    <div class="jumbotron">
        <h1>Movie Store</h1>
        <p>This is an ASP.NET MVC 5 application example which shows how to work with ASP.NET Identity, IoC &amp; DI, and jquery.grid</p>
    </div>

    <address>
        <strong>Developing and Support:</strong>   <a href="mailto:perekhodko-evgen@mail.ru">Webmaster</a><br />
    </address>
}
